.modal {
  position: fixed;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 5px solid #ccc;
  background: gainsboro;
  overflow: auto;
  border-radius: 5px;
  outline: none;
  padding: 20px;
  display: block;
  z-index: 3;
}
