.profile-bar {
  background-color: black;
  width: 100%;
  padding: 0;
  /* padding-left: 5%;
  padding-right: 5%; */
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.profile-bar-item {
  display: inline-block;
  width: 15vw;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.profile-details {
  margin-left: 30%;
}
