body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: "Concert One", cursive;
  text-align: center;
  background-image: url("./images/dungeon-entrance.jpg");
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-top: 7vh;
}

.app {
  background-color: #262826;
  color: whitesmoke;
  border-radius: 5px;
  padding-bottom: 5vh;
  margin-top: 12vh;
  min-height: 75vh;
  max-width: 95vw;
  margin-left: auto;
  margin-right: auto;
}
